# Environment Variables
PRIVATE_KEY=your_private_key_here
BSCSCAN_API_KEY=your_bscscan_api_key_here

# BSC Testnet USDT Address
USDT_TESTNET=0x337610d27c682E347C9cD60BD4b3b107C9d34dDd

# BSC Mainnet USDT Address  
USDT_MAINNET=0x55d398326f99059fF775485246999027B3197955

# Admin addresses
ADMIN_RESERVE=your_admin_reserve_address_here
OPERATOR_ADDRESS=your_operator_address_here

# Report Gas
REPORT_GAS=true
